---
layout: default
title: Главная
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
{% if page.url == '/' %}
<p></p>
<p></p>
{% include home-about-company.html %}
<p></p>
<p></p>
{% include home-services.html %}
<p></p>
<p></p>
{% include youtube-embed.html %}
<p></p>
<p></p>
{% else %}
{% endif %}
