<div id="div_cookie" class="container block-cookie animate__animated animate__backInUp">
  <div class="row">
    <div class="col-2">
      <i class="fas fa-cookie-bite icon-cookie"></i>
    </div>
    <div class="col-8 text-cookie">
      Мы используем файлы cookie, чтобы вам было удобнее пользоваться нашим сайтом.
Используя наш сайт, вы даете согласие на использование файлов cookie. <a href="{{ site.baseurl }}/privacy">Узнать больше</a>
    </div>
    <div class="col-2">
    <a id="btn_accept_cookie" class="btn btn-primary btn-cookie" role="button" onclick="animationBlockCookie()">OK</a>
    </div>
  </div>
</div>
