<!-- Footer -->
<!-- <footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto px-6">
    <div class="flex flex-col md:flex-row justify-between items-center gap-4">
      <div class="flex items-center gap-2">
        <span class="text-xl">🐝</span>
        <span class="font-medium">Makcimka Bro</span>
      </div>
      
      <p class="text-gray-400 text-sm">
        © {{ 'now' | date: "%Y" }} All rights reserved
      </p>
    </div>
  </div>
</footer> -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNKVPQC5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script src="{{ '/_assets/js/main.js' | relative_url }}"></script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",

  "name": "Branding & Digital design Makcimka Bro",
  "description": "Branding & Digital design",

  "image": [
    "https://mir-s3-cdn-cf.behance.net/project_modules/max_316/e9a252241737159.6967f20901c45.png"
  ],

  "url": "https://makcimkabro.github.io/",

  "provider": {
    "@type": "Organization",
    "name": "Mackimka Bro",
    "url": "https://makcimkabro.github.io/",
    "sameAs": [
      "https://www.behance.net/makcimkabro",
      "https://www.linkedin.com/in/makcimkabro/"
    ]
  },

  "areaServed": {
    "@type": "Country",
    "name": "Ukraine"
  },

  "serviceType": [
    "Graphic Design",
    "Branding",
    "Visual Identity",
    "Logo Design"
  ],
}
</script>
