<h2>Видео с ютуб канала</h2>

<!-- Пример https://freesoft.dev/program/96068339#full-example
https://www.youtube.com/watch?v=TE66McLMMEw
https://klisl.com/YouTube_API.html

embed youtube video javascript api

-->


<!-- обрезать текст {{ "Ground control to Major Tom." | truncate: 20 }} -->
<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/345150429?loop=1&color=A1C3A2&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
				<div class="card-body">
					<h5 class="card-title">Harley-Davidson - concept Web site 2019</h5>
					<p class="card-text">Дизайн макет сайта Harley-Davidson. Design site layout Harley-Davidson...</p>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/330352647?loop=1&color=A1C3A2&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
				<div class="card-body">
					<h5 class="card-title">The concept of an online store Rozetka</h5>
					<p class="card-text">A mini version of the site, a redesign of the home page and the main menu, with product...</p>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/459911087?loop=1&color=A1C3A2&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
				<div class="card-body">
					<h5 class="card-title">Дизайн для магазина цветов “Букетiк”</h5>
					<p class="card-text">Компании на разработку дизайна бумажных пакетов и их производство достаточно...</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="text-center">
	<br>
  <a class="btn btn-primary" href="https://www.youtube.com/channel/UC3dioc8FByyPwrep6FdoRtQ" role="button">Перейти на канал</a>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
