---
title: "Блог"
layout: default
permalink: "/blog.html"
---

<h1>Блог</h1>
<p>Diam maecenas ultricies mi eget mauris pharetra et ultrices neque. Egestas diam in arcu cursus euismod quis viverra nibh. Maecenas accumsan lacus vel facilisis volutpat est. Quis commodo odio aenean sed adipiscing. Dignissim enim sit amet venenatis.</p>

{% for category in site.categories %}
  <div class="blog-grid-container">
  {% assign pages_list = category[1] %}
  {% for post in pages_list %}
  {% if post.title != null %}
  {% if group == null or group == post.group %}
  {% include postbox.html %}
  {% endif %}
  {% endif %}
  {% endfor %}
  {% assign pages_list = nil %}
  {% assign group = nil %}
  </div>
{% endfor %}
