---
title: "Услуги"
layout: default
---

<h1>Услуги</h1>
<p>Diam maecenas ultricies mi eget mauris pharetra et ultrices neque. Egestas diam in arcu cursus euismod quis viverra nibh. Maecenas accumsan lacus vel facilisis volutpat est. Quis commodo odio aenean sed adipiscing. Dignissim enim sit amet venenatis.</p>

<!-- Сделать фильтр по tags: [Portfolio] -->

<div class="blog-grid-container">
{% assign sorted-posts = site.posts | where: "tags","Services" %}
{% for post in sorted-posts%}
  {% include postbox.html %}
{% endfor %}
</div>
